@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #2C3333;
  font-family: 'Work Sans', sans-serif;
}
.search {
   width: 100%; 

   display: flex; 
}

.searchTerm {
  width: 100%;
  border: 3px solid #0E8388;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #0E8388;
}

.searchButton {
  
  width: 80px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #0E8388;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 24px;
}

.paginationBtn{
  width: 24px;
  border: 1px solid #00B4CC;
  background: #0E8388;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
}

.rightArrow{
  margin-bottom: 2px;
  transform: rotate(-45deg);
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.leftArrow{
  margin-bottom: 2px;
  transform: rotate(-225deg);
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#iconHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 36px;
  margin: auto;
}

.pageNumber{
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  margin-top: 16px;
  background: #0E8388;
  border: 1px solid #00B4CC;
  color: #fff; 
  border-radius: 3px;
  text-align: center;
}

/*Resize the wrap to see the search bar change!*/
.wrap{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fullwrap{  
  margin: auto;
  padding-top: 126px;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.tophalf{
  /* justify-content: space-between; */
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding-top: 24px;
}

#SearchResults{
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  margin: auto;
  text-align: center;
  
}

.SearchResult {
  text-decoration: none;
  color: #fff; 
  background: #0E8388;
  padding: 5px 16px;
  display: inline-block;
  border-radius: 3px;
  border-width: 3px;
  border-color: #0E8388;
  margin-top: 12px;
  border-style: dashed;
  transition: all ease-in-out 0.3s;
}

.SearchResult:hover{
  background: #2C3333;
  border-color: #0E8388;
}