doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HomePage
    link(rel='stylesheet', href="/styles/header.css", type="text/css")
  body 
    include ./partials/header

  